<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact website</title>
    <%-include('partials/head') %>
</head>
<body>
    <%-include('partials/navigation') %>
    <h4>Sampling plan obtained</h4>
    <div class="table-wrapper" ></div>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>District</th>
                <th>Business Name</th>
                <th id="hide-me">State</th>
                <th id="hide-me">City</th>
                <th>Population</th>
                <th>Stratum</th>
                <th>Samples</th>
            </tr>
        </thead>
        <tbody> 
            <tr><% nxB.forEach(function (dato) { %>
                <td><%= dato.Co %></td>
                <td><%= dato.Dis %></td>
                <td><%= dato.Bs %></td>
                <td id="hide-me"><%= dato.St %></td>
                <td id="hide-me"><%= dato.Ct %></td>
                <td><%= dato.Po %></td>
                <td><%= dato.hs %></td>
                <td><%= dato.nhxB %></td>
            </tr><% })%>
        </tbody>
    </table>
</div>  
    <%-include('partials/footer') %>
</body>
</html>