<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistical summary</title>
    <%-include('partials/head') , {variant:'compact'} %>
</head>
<body>
    <%-include('partials/navigation') %>
    <h4><i>W<sub>h</sub></i>
        = <i>N<sub>h</sub></i
        >/<i>N</i> = Proportion of population by stratum</h4>
    <center><img src="/graphic_1.png" alt="graphic"></center>
    <h4>Summary of statistical calculations</h4>
    <div class="table-wrapper" ></div>
        <table>
            <thead>
                <tr>
                    <th>h</th>
                    <th>n</th>
                    <th>Nh</th>
                    <th>B</th>
                    <th>t<i><sup>&prop;</sup><sub>xh</sub></i></th>
                    <th>&sum;t<i><sup>&prop;</sup><sub>xh</sub></i></th>
                    <th>nh</th>
                    <th>Wh</th>
                </tr>
            </thead>
            <tbody> 
                <tr><% nhT.forEach(function (dato) { %>
                    <td><%= dato.h %></td>
                    <td><%= dato.n %></td>
                    <td><%= dato.Po %></td>
                    <td><%= dato.Bn %></td>
                    <td><%= dato.Pa %></td>
                    <td><%= dato.EPTa %></td>
                    <td><%= dato.nh %></td>
                    <td><%= dato.Wh %></td>
                </tr><% })%>
            </tbody>
        </table>
    </div>  
    <%-include('partials/footer') %>
</body>
</html>
